.nav-menu_hidden {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 22px 22px 92px;
  top: 0;
  right: 0;
  max-width: 520px;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  z-index: 1;
  box-sizing: border-box;
}

.nav-menu__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 108px auto 0;
  list-style-type: none;
  padding: 0;
  align-items: center;
  gap: 28px;
}

.nav-menu__close-btn {
  background: url("../../images/close-icon.svg") center no-repeat;
  width: 22px;
  height: 22px;
  align-self: flex-end;
  border-style: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.nav-menu__close-btn:hover {
  opacity: 0.8;
}

.nav-menu__item {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.nav-menu__account {
  font-weight: 500;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
}

.nav-menu__link {
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: opacity 0.3s linear;
}

.nav-menu__link.active {
  border-bottom: 2px solid;
}

.nav-menu__link:hover {
  opacity: 0.7;
}

.nav-menu__link:last-of-type {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  align-items: center;
}

@media screen and (max-width: 320px) {
  
  .nav-menu {
    padding: 14px 14px 48px;
  }

  .nav-menu__container {
    margin-top: 116px;
    gap: 24px;
  }
}
