.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background-color: #073042;
}

.header-auth {
  background-color: #202020;
}

.header__logo {
  margin: 0;
  width: 38px;
  display: flex;
  cursor: pointer;
  transition: opacity linear;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__box {
  display: flex;
  gap: 30px;
}

.header__signup-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.header__signup-link:hover {
  opacity: 0.7;
}

.header__signin-button {
  width: 76px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  background-color: #3ddc84;
  border: none;
  color: #000;
  transition: opacity 0.3s linear;
}

.header__signin-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-auth {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__box {
    gap: 14px;
  }

  .header__signup-link {
    font-size: 10px;
  }

  .header__signin-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}
